.container {
    margin: 20px 50px;
    padding: 70px;
    border: 5px solid black;
    background-color: white;
}

body {
    background-color: sandybrown;
}

.nav {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: green;
}

.nav li {
    float: left;

}

.nav li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
}