.container {
    margin: 20px 50px;
    padding: 70px;
    border: 5px solid orange;
    background-color: black;
    overflow: auto;

}

body {
    background-color: rgb(255, 255, 255);
}

.nav {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: rgb(255, 115, 0);
}

.nav li {
    float: left;

}

.nav li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
}


h2,
h3 {
    color: orangered;
}

h1 {
    color: orangered;
}

p {
    color: orange;
}


div.gallery {
    margin: 5px;
    border: 1px solid orangered;
    float: left;
    width: 180.0px;
    object-fit: contain;
}

div.gallery:hover {
    border: 5px solid orange
}

div.desc {
    padding: 10px;
    text-align: center;
}

div.gallery img {
    width: 100%;
    height: 100px;
}