* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

body {
    background-color: white;
    font-family: "Lucida Sans", sans-serif;
}

.header {
    background-color: black;
    color: white;
    padding: 15px;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: black;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.nav li a {
    color: white;
    text-decoration: none;
    padding: 8px;
    margin-bottom: 7px;
}

.nav li:hover {
    background-color: darkblue;
}

.aside {
    background-color: black;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.aside li {
    list-style: none;
}

a {
    color: white;
}

.maintextdesktop {
    inline-size: 1000px;
}

.bottomleft {
    width: 100%;
    float: left;
    background-color: black;
    padding: 15px;
    color: white;
    margin-top: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.mobile-ion {
    display: none;
}

.bottomleft2 {
    width: 100%;
    float: left;
    background-color: black;
    padding: 15px;
    color: white;
    margin-top: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.mobile-ion2 {
    display: none;
}

.bottomleft3 {
    width: 100%;
    float: left;
    background-color: black;
    padding: 15px;
    color: white;
    margin-top: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.mobile-ion3 {
    display: none;

}

.bottomright {
    width: 100%;
    float: left;
    background-color: black;
    padding: 15px;
    color: white;
    margin-top: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.bottomright2 {
    width: 100%;
    float: left;
    background-color: black;
    padding: 15px;
    color: white;
    margin-top: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.footer {
    background-color: black;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}

/* For desktop: */
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-6point5 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}


@media only screen and (max-width: 768px) {

    /* mobile */
    [class*="col-"] {
        width: 100%;
    }
}

@media (min-width:621px) and (max-width:1000px) {
    .main {
        width: 80%;
    }

    .right {
        width: 100%;
    }
}

@media only screen and (max-width:620px) {

    .left,

    .right {
        width: 100%;
    }
}

@media (min-width:0px) and (max-width:1000px) {

    .aside,
    .right {
        width: 100%;
    }
}

@media (min-width:618px) and (max-width:800px) {

    iframe,
    .right {
        width: 100%;
    }
}

@media (min-width: 617px) and (max-width:1200px) {

    iframe,
    .right {
        width: 100%;
    }
}

@media (min-width: 614px) and (max-width:1400px) {

    iframe,
    .right {
        width: 100%;
    }

    .col-6 {
        width: 70%;
    }
}

@media (min-width:0px) and (max-width:616px) {
    .bottomleft {
        display: none;

    }

    .mobile-ion {
        display: unset;
        width: 100%;
        float: left;
        background-color: black;
        padding: 15px;
        color: white;
        margin-top: 20px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }

    .bottomleft2 {
        display: none;
    }

    .mobile-ion2 {
        display: unset;
        width: 100%;
        float: left;
        background-color: black;
        padding: 15px;
        color: white;
        margin-top: 20px;
        margin-bottom: 10px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }

    .bottomleft3 {
        display: none;
    }

    .mobile-ion3 {
        display: unset;
        width: 100%;
        float: left;
        background-color: black;
        padding: 15px;
        color: white;
        margin-top: 20px;
        margin-bottom: 10px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    }
}

@media (min-width:615px) and (max-width:1100px) {
    .col-6 {
        width: 80%;
    }

    img {
        width: 25%;
    }

    .bottomleft {
        display: none;

    }

    .mobile-ion {
        display: unset;
        width: 100%;
        float: left;
        background-color: black;
        padding: 15px;
        color: white;
        margin-top: 20px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }

    .bottomleft2 {
        display: none;
    }

    .mobile-ion2 {
        display: unset;
        width: 100%;
        float: left;
        background-color: black;
        padding: 15px;
        color: white;
        margin-top: 20px;
        margin-bottom: 10px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }

    .bottomleft3 {
        display: none;
    }

    .mobile-ion3 {
        display: unset;
        width: 100%;
        float: left;
        background-color: black;
        padding: 15px;
        color: white;
        margin-top: 20px;
        margin-bottom: 10px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    }
}