.menu-item {
    color: blue;
    font-weight: bold;
}

.container {
    margin: 1px;
    padding: 5px;
    background-color: lightslategray;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: white;
}

h1,
h2,
p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
    color: white;
}

.nav {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: black;
}