 * {
     margin: 0;
     padding: 0;
     font-family: Georgia, 'Times New Roman', Times, serif;
     box-sizing: border-box;
 }

 body {
     background: url(../images/background_image_potential_parallax1.webp) no-repeat center center fixed;
     height: 100vh;
     background-position: center;
     background-size: cover;
 }

 /* .background-image-opacity {
     opacity: 0.65;
     How do I set opacity of background image if it's in body class.
 } */

 header {
     width: 100%;
     height: 75px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 30px 10%;
     background: rgba(0, 0, 0, 0);
 }

 .logo {
     font-size: 30px;
     font-weight: bold;
     letter-spacing: 1.5px;
     cursor: default;
     /*cursor: pointer;*/
 }

 #logo-hidden {
     display: none;
 }

 nav li {
     display: inline-block;
     list-style: none;
     padding: 0px 20px;
     margin-top: 17px;

 }

 a,
 button {
     font-size: 20px;
     font-weight: 500;
     color: black;
     text-decoration: none;
     cursor: pointer;
 }

 button {
     background: rgba(0, 0, 0, 0);
     border: 2px solid yellow;
     border-radius: 50px;
     padding: 9px 25px;
 }

 nav li a:hover {
     color: gray;
     transition: all 0.3s ease 0s;
 }

 button:hover {
     background-color: yellow;
     transition: all 0.3s ease 0s;
 }

 .content-header {
     margin-top: 250px;
     margin-left: 350px;
     inline-size: 700px;
     color: white;
 }

 .content-header p {
     font-size: 70px;
 }

 p {
     color: white;
     font-size: 35px;
 }

 .content-2 {
     margin-left: 425px;
 }

 html {
     scroll-behavior: smooth;
 }

 #section1scroll {
     height: 800px;
 }

 #section2scroll {
     height: 800px;
 }

 #section3scroll {
     height: 800px;
 }

 .bgimg-1,
 .bgimg-2,
 .bgimg-3 {
     position: relative;
     opacity: 1;
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     height: 800px;

 }

 .bgimg-1 {
     background-image: url("../images/background_image_potential_parallax1.webp");
 }

 .bgimg-2 {
     background-image: url("../images/background_image_potential_parallax2.jpg");
 }

 .bgimg-3 {
     background-image: url("../images/background_image_1.jpg");
 }