body {
    background-color: lightgrey
}

p,
h3,
h2,
a {
    font-family: source-serif-pro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}

.center {
    display: block;
    margin-left: 1px;
    margin-right: auto;
    width: 50%;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.nav {
    list-style-type: none;
    background-color: rgb(183, 15, 15);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.nav li {
    float: left
}

ul.nav li a {
    display: block;
    padding: 8px 16px;
    color: rgb(225, 255, 255);
    text-decoration: none;
    font-size: 20px;
}

ul.nav a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

h3:hover {
    background-color: lightgrey;
    color: yellow;
    /* Is there a way to exclude or override a css class for a certain tag? 
    Ex. one of three h3 tags or caption header in carousel */
}

.excludeh3:hover {
    color: white;
    background-color: none;
}

.grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto 25%;
    color: white;
}

.grid-item {
    background-color: rgb(183, 15, 15);
    text-align: center;
    font-size: 30px;
    padding: 20px;
}

.navmenu {
    grid-column: 1 / span 3;
    grid-row: 1;
}

.main-image {
    grid-column: 1 / span 3;
    grid-row: 2;
}

.main1 {
    grid-column: 1 / span 2;
    grid-row: 3;
}

.main2 {
    grid-column: 1 / span 2;
    grid-row: 4;
}

.sidenav {
    grid-column: 3;
    grid-row: 3 / span 2;
}

.bottomcarousel {
    grid-column: 1;
    grid-row: 7 / span 3;
}

.sidenav2 {
    grid-column: 1 / span 3;
    grid-row: 5;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: white;
    color: black;
}

a {
    color: white;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;

    margin: 0;
}

.imgfloat {
    float: unset;
}


.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: rgb(0, 0, 0);
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}


.dropdown-content a:hover {
    background-color: #ddd;
}


.dropdown:hover .dropdown-content {
    display: block;
}